CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 20260408_000001

CREATE TABLE accounts (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    name VARCHAR(255) NOT NULL, 
    slug VARCHAR(100) NOT NULL, 
    is_active BOOL NOT NULL DEFAULT true, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_accounts PRIMARY KEY (id)
);

CREATE INDEX ix_accounts_id ON accounts (id);

CREATE UNIQUE INDEX ix_accounts_slug ON accounts (slug);

CREATE TABLE users (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    email VARCHAR(255) NOT NULL, 
    full_name VARCHAR(255), 
    hashed_password VARCHAR(255) NOT NULL, 
    is_active BOOL NOT NULL DEFAULT true, 
    is_superuser BOOL NOT NULL DEFAULT false, 
    status ENUM('ACTIVE','INVITED','DISABLED') NOT NULL DEFAULT 'ACTIVE', 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_users PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

CREATE TABLE memberships (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    user_id INTEGER NOT NULL, 
    `role` ENUM('OWNER','ADMIN','MEMBER') NOT NULL DEFAULT 'MEMBER', 
    status ENUM('ACTIVE','INVITED','REVOKED') NOT NULL DEFAULT 'ACTIVE', 
    invited_email VARCHAR(255), 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_memberships PRIMARY KEY (id), 
    CONSTRAINT fk_memberships_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_memberships_user_id_users FOREIGN KEY(user_id) REFERENCES users (id), 
    CONSTRAINT uq_memberships_account_id_user_id UNIQUE (account_id, user_id)
);

CREATE INDEX ix_memberships_account_id ON memberships (account_id);

CREATE INDEX ix_memberships_id ON memberships (id);

CREATE INDEX ix_memberships_user_id ON memberships (user_id);

CREATE TABLE onboarding_keys (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    `key` VARCHAR(64) NOT NULL, 
    `role` ENUM('OWNER','ADMIN','MEMBER') NOT NULL DEFAULT 'MEMBER', 
    max_uses INTEGER NOT NULL DEFAULT '1', 
    used_count INTEGER NOT NULL DEFAULT '0', 
    expires_at DATETIME, 
    revoked_at DATETIME, 
    invited_email VARCHAR(255), 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_onboarding_keys PRIMARY KEY (id), 
    CONSTRAINT fk_onboarding_keys_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id)
);

CREATE INDEX ix_onboarding_keys_account_id ON onboarding_keys (account_id);

CREATE INDEX ix_onboarding_keys_id ON onboarding_keys (id);

CREATE UNIQUE INDEX ix_onboarding_keys_key ON onboarding_keys (`key`);

CREATE TABLE refresh_tokens (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    user_id INTEGER NOT NULL, 
    token_jti VARCHAR(64) NOT NULL, 
    expires_at DATETIME NOT NULL, 
    revoked_at DATETIME, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_refresh_tokens PRIMARY KEY (id), 
    CONSTRAINT fk_refresh_tokens_user_id_users FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_refresh_tokens_id ON refresh_tokens (id);

CREATE UNIQUE INDEX ix_refresh_tokens_token_jti ON refresh_tokens (token_jti);

CREATE INDEX ix_refresh_tokens_user_id ON refresh_tokens (user_id);

INSERT INTO alembic_version (version_num) VALUES ('20260408_000001');

-- Running upgrade 20260408_000001 -> 20260408_000002

CREATE TABLE platform_connections (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    platform_type ENUM('FACEBOOK_PAGE','WHATSAPP') NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    external_id VARCHAR(255), 
    external_name VARCHAR(255), 
    status ENUM('PENDING','CONNECTED','ACTION_REQUIRED','DISCONNECTED','ERROR') NOT NULL DEFAULT 'PENDING', 
    encrypted_access_token VARCHAR(2048), 
    encrypted_refresh_token VARCHAR(2048), 
    token_hint VARCHAR(16), 
    webhook_url VARCHAR(500), 
    webhook_secret VARCHAR(255), 
    webhook_verify_token VARCHAR(255), 
    webhook_active BOOL NOT NULL DEFAULT false, 
    metadata_json JSON NOT NULL, 
    settings_json JSON NOT NULL, 
    last_error VARCHAR(500), 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_platform_connections PRIMARY KEY (id), 
    CONSTRAINT fk_platform_connections_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id)
);

CREATE INDEX ix_platform_connections_account_id ON platform_connections (account_id);

CREATE INDEX ix_platform_connections_external_id ON platform_connections (external_id);

CREATE INDEX ix_platform_connections_id ON platform_connections (id);

CREATE INDEX ix_platform_connections_platform_type ON platform_connections (platform_type);

UPDATE alembic_version SET version_num='20260408_000002' WHERE alembic_version.version_num = '20260408_000001';

-- Running upgrade 20260408_000002 -> 20260408_000003

CREATE TABLE ai_agents (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    platform_connection_id INTEGER, 
    name VARCHAR(255) NOT NULL, 
    business_type VARCHAR(255), 
    status ENUM('DRAFT','ACTIVE','PAUSED','ARCHIVED') NOT NULL DEFAULT 'DRAFT', 
    settings_json JSON NOT NULL, 
    behavior_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_ai_agents PRIMARY KEY (id), 
    CONSTRAINT fk_ai_agents_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_ai_agents_platform_connection_id_platform_connections FOREIGN KEY(platform_connection_id) REFERENCES platform_connections (id)
);

CREATE INDEX ix_ai_agents_account_id ON ai_agents (account_id);

CREATE INDEX ix_ai_agents_id ON ai_agents (id);

CREATE INDEX ix_ai_agents_platform_connection_id ON ai_agents (platform_connection_id);

CREATE TABLE ai_prompts (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    ai_agent_id INTEGER, 
    platform_connection_id INTEGER, 
    prompt_type ENUM('SYSTEM_INSTRUCTION','INBOX_REPLY','COMMENT_REPLY','POST_GENERATION') NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    content TEXT NOT NULL, 
    version INTEGER NOT NULL DEFAULT '1', 
    is_active BOOL NOT NULL DEFAULT true, 
    notes VARCHAR(500), 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_ai_prompts PRIMARY KEY (id), 
    CONSTRAINT fk_ai_prompts_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_ai_prompts_ai_agent_id_ai_agents FOREIGN KEY(ai_agent_id) REFERENCES ai_agents (id), 
    CONSTRAINT fk_ai_prompts_platform_connection_id_platform_connections FOREIGN KEY(platform_connection_id) REFERENCES platform_connections (id)
);

CREATE INDEX ix_ai_prompts_account_id ON ai_prompts (account_id);

CREATE INDEX ix_ai_prompts_ai_agent_id ON ai_prompts (ai_agent_id);

CREATE INDEX ix_ai_prompts_id ON ai_prompts (id);

CREATE INDEX ix_ai_prompts_platform_connection_id ON ai_prompts (platform_connection_id);

CREATE INDEX ix_ai_prompts_prompt_type ON ai_prompts (prompt_type);

CREATE TABLE ai_knowledge_sources (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    ai_agent_id INTEGER, 
    title VARCHAR(255) NOT NULL, 
    source_type ENUM('FILE','URL','TEXT') NOT NULL, 
    status ENUM('DRAFT','READY','PROCESSING','ARCHIVED') NOT NULL DEFAULT 'DRAFT', 
    description VARCHAR(500), 
    content_text TEXT, 
    file_name VARCHAR(255), 
    file_size INTEGER, 
    mime_type VARCHAR(255), 
    storage_key VARCHAR(500), 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_ai_knowledge_sources PRIMARY KEY (id), 
    CONSTRAINT fk_ai_knowledge_sources_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_ai_knowledge_sources_ai_agent_id_ai_agents FOREIGN KEY(ai_agent_id) REFERENCES ai_agents (id)
);

CREATE INDEX ix_ai_knowledge_sources_account_id ON ai_knowledge_sources (account_id);

CREATE INDEX ix_ai_knowledge_sources_ai_agent_id ON ai_knowledge_sources (ai_agent_id);

CREATE INDEX ix_ai_knowledge_sources_id ON ai_knowledge_sources (id);

CREATE TABLE faq_knowledge (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    ai_agent_id INTEGER, 
    question VARCHAR(500) NOT NULL, 
    answer TEXT NOT NULL, 
    tags_json JSON NOT NULL, 
    is_active BOOL NOT NULL DEFAULT true, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_faq_knowledge PRIMARY KEY (id), 
    CONSTRAINT fk_faq_knowledge_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_faq_knowledge_ai_agent_id_ai_agents FOREIGN KEY(ai_agent_id) REFERENCES ai_agents (id)
);

CREATE INDEX ix_faq_knowledge_account_id ON faq_knowledge (account_id);

CREATE INDEX ix_faq_knowledge_ai_agent_id ON faq_knowledge (ai_agent_id);

CREATE INDEX ix_faq_knowledge_id ON faq_knowledge (id);

UPDATE alembic_version SET version_num='20260408_000003' WHERE alembic_version.version_num = '20260408_000002';

-- Running upgrade 20260408_000003 -> 20260408_000004

CREATE TABLE conversations (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    platform_connection_id INTEGER, 
    assigned_to_user_id INTEGER, 
    platform_type ENUM('FACEBOOK_PAGE','WHATSAPP') NOT NULL, 
    status ENUM('OPEN','ASSIGNED','PAUSED','RESOLVED','ESCALATED') NOT NULL DEFAULT 'OPEN', 
    external_thread_id VARCHAR(255), 
    customer_external_id VARCHAR(255) NOT NULL, 
    customer_name VARCHAR(255), 
    customer_avatar_url VARCHAR(500), 
    customer_phone VARCHAR(64), 
    customer_email VARCHAR(255), 
    subject VARCHAR(255), 
    latest_message_preview VARCHAR(500), 
    latest_message_at DATETIME, 
    paused_until DATETIME, 
    resolved_at DATETIME, 
    last_inbound_at DATETIME, 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_conversations PRIMARY KEY (id), 
    CONSTRAINT fk_conversations_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_conversations_assigned_to_user_id_users FOREIGN KEY(assigned_to_user_id) REFERENCES users (id), 
    CONSTRAINT fk_conversations_platform_connection_id_platform_connections FOREIGN KEY(platform_connection_id) REFERENCES platform_connections (id)
);

CREATE INDEX ix_conversations_account_id ON conversations (account_id);

CREATE INDEX ix_conversations_assigned_to_user_id ON conversations (assigned_to_user_id);

CREATE INDEX ix_conversations_customer_external_id ON conversations (customer_external_id);

CREATE INDEX ix_conversations_customer_name ON conversations (customer_name);

CREATE INDEX ix_conversations_external_thread_id ON conversations (external_thread_id);

CREATE INDEX ix_conversations_id ON conversations (id);

CREATE INDEX ix_conversations_latest_message_at ON conversations (latest_message_at);

CREATE INDEX ix_conversations_platform_connection_id ON conversations (platform_connection_id);

CREATE INDEX ix_conversations_platform_type ON conversations (platform_type);

CREATE INDEX ix_conversations_status ON conversations (status);

CREATE TABLE messages (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    conversation_id INTEGER NOT NULL, 
    created_by_user_id INTEGER, 
    sender_type ENUM('CUSTOMER','LLM_BOT','HUMAN_ADMIN','SYSTEM') NOT NULL, 
    direction ENUM('INBOUND','OUTBOUND') NOT NULL, 
    delivery_status ENUM('PENDING','QUEUED','SENT','DELIVERED','FAILED') NOT NULL DEFAULT 'PENDING', 
    sender_name VARCHAR(255), 
    sender_external_id VARCHAR(255), 
    external_message_id VARCHAR(255), 
    content TEXT NOT NULL, 
    error_message VARCHAR(500), 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_messages PRIMARY KEY (id), 
    CONSTRAINT fk_messages_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_messages_conversation_id_conversations FOREIGN KEY(conversation_id) REFERENCES conversations (id), 
    CONSTRAINT fk_messages_created_by_user_id_users FOREIGN KEY(created_by_user_id) REFERENCES users (id)
);

CREATE INDEX ix_messages_account_id ON messages (account_id);

CREATE INDEX ix_messages_conversation_id ON messages (conversation_id);

CREATE INDEX ix_messages_created_by_user_id ON messages (created_by_user_id);

CREATE INDEX ix_messages_delivery_status ON messages (delivery_status);

CREATE INDEX ix_messages_direction ON messages (direction);

CREATE INDEX ix_messages_external_message_id ON messages (external_message_id);

CREATE INDEX ix_messages_id ON messages (id);

CREATE INDEX ix_messages_sender_external_id ON messages (sender_external_id);

CREATE INDEX ix_messages_sender_type ON messages (sender_type);

UPDATE alembic_version SET version_num='20260408_000004' WHERE alembic_version.version_num = '20260408_000003';

-- Running upgrade 20260408_000004 -> 20260408_000005

CREATE TABLE facebook_comments (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    platform_connection_id INTEGER, 
    assigned_to_user_id INTEGER, 
    platform_type ENUM('FACEBOOK_PAGE','WHATSAPP') NOT NULL, 
    status ENUM('PENDING','REPLIED','IGNORED','FLAGGED','NEED_REVIEW') NOT NULL DEFAULT 'PENDING', 
    post_external_id VARCHAR(255) NOT NULL, 
    post_title VARCHAR(255), 
    post_url VARCHAR(500), 
    external_comment_id VARCHAR(255) NOT NULL, 
    parent_external_comment_id VARCHAR(255), 
    commenter_external_id VARCHAR(255) NOT NULL, 
    commenter_name VARCHAR(255), 
    commenter_avatar_url VARCHAR(500), 
    comment_text TEXT NOT NULL, 
    ai_draft_reply TEXT, 
    flagged_reason VARCHAR(500), 
    moderation_notes VARCHAR(1000), 
    commented_at DATETIME, 
    last_replied_at DATETIME, 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_facebook_comments PRIMARY KEY (id), 
    CONSTRAINT fk_facebook_comments_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_facebook_comments_assigned_to_user_id_users FOREIGN KEY(assigned_to_user_id) REFERENCES users (id), 
    CONSTRAINT fk_facebook_comments_platform_connection_id_platform_connections FOREIGN KEY(platform_connection_id) REFERENCES platform_connections (id)
);

CREATE INDEX ix_facebook_comments_account_id ON facebook_comments (account_id);

CREATE INDEX ix_facebook_comments_assigned_to_user_id ON facebook_comments (assigned_to_user_id);

CREATE INDEX ix_facebook_comments_commenter_external_id ON facebook_comments (commenter_external_id);

CREATE INDEX ix_facebook_comments_commenter_name ON facebook_comments (commenter_name);

CREATE INDEX ix_facebook_comments_commented_at ON facebook_comments (commented_at);

CREATE INDEX ix_facebook_comments_external_comment_id ON facebook_comments (external_comment_id);

CREATE INDEX ix_facebook_comments_id ON facebook_comments (id);

CREATE INDEX ix_facebook_comments_parent_external_comment_id ON facebook_comments (parent_external_comment_id);

CREATE INDEX ix_facebook_comments_platform_connection_id ON facebook_comments (platform_connection_id);

CREATE INDEX ix_facebook_comments_platform_type ON facebook_comments (platform_type);

CREATE INDEX ix_facebook_comments_post_external_id ON facebook_comments (post_external_id);

CREATE INDEX ix_facebook_comments_status ON facebook_comments (status);

CREATE TABLE facebook_comment_replies (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    comment_id INTEGER NOT NULL, 
    created_by_user_id INTEGER, 
    sender_type ENUM('CUSTOMER','LLM_BOT','HUMAN_ADMIN','SYSTEM') NOT NULL, 
    reply_status ENUM('DRAFT','QUEUED','SENT','FAILED') NOT NULL DEFAULT 'DRAFT', 
    content TEXT NOT NULL, 
    external_reply_id VARCHAR(255), 
    error_message VARCHAR(500), 
    sent_at DATETIME, 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_facebook_comment_replies PRIMARY KEY (id), 
    CONSTRAINT fk_facebook_comment_replies_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_facebook_comment_replies_comment_id_facebook_comments FOREIGN KEY(comment_id) REFERENCES facebook_comments (id), 
    CONSTRAINT fk_facebook_comment_replies_created_by_user_id_users FOREIGN KEY(created_by_user_id) REFERENCES users (id)
);

CREATE INDEX ix_facebook_comment_replies_account_id ON facebook_comment_replies (account_id);

CREATE INDEX ix_facebook_comment_replies_comment_id ON facebook_comment_replies (comment_id);

CREATE INDEX ix_facebook_comment_replies_created_by_user_id ON facebook_comment_replies (created_by_user_id);

CREATE INDEX ix_facebook_comment_replies_external_reply_id ON facebook_comment_replies (external_reply_id);

CREATE INDEX ix_facebook_comment_replies_id ON facebook_comment_replies (id);

CREATE INDEX ix_facebook_comment_replies_reply_status ON facebook_comment_replies (reply_status);

CREATE INDEX ix_facebook_comment_replies_sender_type ON facebook_comment_replies (sender_type);

UPDATE alembic_version SET version_num='20260408_000005' WHERE alembic_version.version_num = '20260408_000004';

-- Running upgrade 20260408_000005 -> 20260408_000006

CREATE TABLE social_posts (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    platform_connection_id INTEGER, 
    ai_agent_id INTEGER, 
    ai_prompt_id INTEGER, 
    created_by_user_id INTEGER, 
    approved_by_user_id INTEGER, 
    rejected_by_user_id INTEGER, 
    platform_type ENUM('FACEBOOK_PAGE','WHATSAPP') NOT NULL, 
    status ENUM('DRAFT','APPROVED','SCHEDULED','PUBLISHED','FAILED','REJECTED') NOT NULL DEFAULT 'DRAFT', 
    generated_by ENUM('HUMAN_ADMIN','LLM_BOT','SYSTEM') NOT NULL DEFAULT 'HUMAN_ADMIN', 
    title VARCHAR(255), 
    content TEXT NOT NULL, 
    media_urls JSON NOT NULL, 
    external_post_id VARCHAR(255), 
    is_llm_generated BOOL NOT NULL DEFAULT false, 
    requires_approval BOOL NOT NULL DEFAULT false, 
    scheduled_for DATETIME, 
    published_at DATETIME, 
    approved_at DATETIME, 
    rejected_at DATETIME, 
    rejection_reason VARCHAR(500), 
    last_error VARCHAR(500), 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_social_posts PRIMARY KEY (id), 
    CONSTRAINT fk_social_posts_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_social_posts_ai_agent_id_ai_agents FOREIGN KEY(ai_agent_id) REFERENCES ai_agents (id), 
    CONSTRAINT fk_social_posts_ai_prompt_id_ai_prompts FOREIGN KEY(ai_prompt_id) REFERENCES ai_prompts (id), 
    CONSTRAINT fk_social_posts_approved_by_user_id_users FOREIGN KEY(approved_by_user_id) REFERENCES users (id), 
    CONSTRAINT fk_social_posts_created_by_user_id_users FOREIGN KEY(created_by_user_id) REFERENCES users (id), 
    CONSTRAINT fk_social_posts_platform_connection_id_platform_connections FOREIGN KEY(platform_connection_id) REFERENCES platform_connections (id), 
    CONSTRAINT fk_social_posts_rejected_by_user_id_users FOREIGN KEY(rejected_by_user_id) REFERENCES users (id)
);

CREATE INDEX ix_social_posts_account_id ON social_posts (account_id);

CREATE INDEX ix_social_posts_ai_agent_id ON social_posts (ai_agent_id);

CREATE INDEX ix_social_posts_ai_prompt_id ON social_posts (ai_prompt_id);

CREATE INDEX ix_social_posts_approved_by_user_id ON social_posts (approved_by_user_id);

CREATE INDEX ix_social_posts_created_by_user_id ON social_posts (created_by_user_id);

CREATE INDEX ix_social_posts_external_post_id ON social_posts (external_post_id);

CREATE INDEX ix_social_posts_id ON social_posts (id);

CREATE INDEX ix_social_posts_platform_connection_id ON social_posts (platform_connection_id);

CREATE INDEX ix_social_posts_platform_type ON social_posts (platform_type);

CREATE INDEX ix_social_posts_rejected_by_user_id ON social_posts (rejected_by_user_id);

CREATE INDEX ix_social_posts_scheduled_for ON social_posts (scheduled_for);

CREATE INDEX ix_social_posts_status ON social_posts (status);

UPDATE alembic_version SET version_num='20260408_000006' WHERE alembic_version.version_num = '20260408_000005';

-- Running upgrade 20260408_000006 -> 20260408_000007

ALTER TABLE accounts ADD COLUMN token_balance INTEGER NOT NULL DEFAULT '0';

ALTER TABLE accounts ADD COLUMN monthly_token_credit INTEGER NOT NULL DEFAULT '0';

ALTER TABLE accounts ADD COLUMN token_credit_last_applied_at DATETIME;

ALTER TABLE accounts ADD COLUMN token_credit_next_reset_at DATETIME;

CREATE INDEX ix_accounts_token_credit_next_reset_at ON accounts (token_credit_next_reset_at);

CREATE TABLE webhook_events (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER, 
    platform_connection_id INTEGER, 
    platform_type ENUM('FACEBOOK_PAGE','WHATSAPP') NOT NULL, 
    source ENUM('FACEBOOK_PAGE','WHATSAPP') NOT NULL, 
    status ENUM('PENDING','PROCESSING','PROCESSED','FAILED','IGNORED') NOT NULL DEFAULT 'PENDING', 
    event_type VARCHAR(100) NOT NULL, 
    event_key VARCHAR(255) NOT NULL, 
    delivery_id VARCHAR(255), 
    attempts INTEGER NOT NULL DEFAULT '0', 
    received_at DATETIME NOT NULL, 
    processing_started_at DATETIME, 
    processed_at DATETIME, 
    last_task_id VARCHAR(255), 
    error_message VARCHAR(500), 
    payload_json JSON NOT NULL, 
    headers_json JSON NOT NULL, 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_webhook_events PRIMARY KEY (id), 
    CONSTRAINT fk_webhook_events_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_webhook_events_platform_connection_id_platform_connections FOREIGN KEY(platform_connection_id) REFERENCES platform_connections (id), 
    CONSTRAINT uq_webhook_events_event_key UNIQUE (event_key)
);

CREATE INDEX ix_webhook_events_account_id ON webhook_events (account_id);

CREATE INDEX ix_webhook_events_delivery_id ON webhook_events (delivery_id);

CREATE INDEX ix_webhook_events_event_type ON webhook_events (event_type);

CREATE INDEX ix_webhook_events_id ON webhook_events (id);

CREATE INDEX ix_webhook_events_platform_connection_id ON webhook_events (platform_connection_id);

CREATE INDEX ix_webhook_events_platform_type ON webhook_events (platform_type);

CREATE INDEX ix_webhook_events_processed_at ON webhook_events (processed_at);

CREATE INDEX ix_webhook_events_received_at ON webhook_events (received_at);

CREATE INDEX ix_webhook_events_source ON webhook_events (source);

CREATE INDEX ix_webhook_events_status ON webhook_events (status);

CREATE TABLE sync_jobs (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER, 
    platform_connection_id INTEGER, 
    status ENUM('PENDING','RUNNING','COMPLETED','FAILED','RETRY_SCHEDULED','CANCELED') NOT NULL DEFAULT 'PENDING', 
    job_type ENUM('WEBHOOK_PROCESSING','AI_REPLY_GENERATION','SCHEDULED_POST_PUBLISH','RETRY_FAILED_SEND','TOKEN_EXPIRATION','TOKEN_MONTHLY_CREDIT') NOT NULL, 
    dedupe_key VARCHAR(255), 
    scheduled_for DATETIME NOT NULL, 
    retry_after DATETIME, 
    started_at DATETIME, 
    completed_at DATETIME, 
    attempts INTEGER NOT NULL DEFAULT '0', 
    max_attempts INTEGER NOT NULL DEFAULT '5', 
    last_task_id VARCHAR(255), 
    error_message VARCHAR(500), 
    payload_json JSON NOT NULL, 
    result_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_sync_jobs PRIMARY KEY (id), 
    CONSTRAINT fk_sync_jobs_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_sync_jobs_platform_connection_id_platform_connections FOREIGN KEY(platform_connection_id) REFERENCES platform_connections (id), 
    CONSTRAINT uq_sync_jobs_dedupe_key UNIQUE (dedupe_key)
);

CREATE INDEX ix_sync_jobs_account_id ON sync_jobs (account_id);

CREATE INDEX ix_sync_jobs_id ON sync_jobs (id);

CREATE INDEX ix_sync_jobs_job_type ON sync_jobs (job_type);

CREATE INDEX ix_sync_jobs_platform_connection_id ON sync_jobs (platform_connection_id);

CREATE INDEX ix_sync_jobs_retry_after ON sync_jobs (retry_after);

CREATE INDEX ix_sync_jobs_scheduled_for ON sync_jobs (scheduled_for);

CREATE INDEX ix_sync_jobs_status ON sync_jobs (status);

ALTER TABLE accounts ALTER COLUMN token_balance DROP DEFAULT;

ALTER TABLE accounts ALTER COLUMN monthly_token_credit DROP DEFAULT;

UPDATE alembic_version SET version_num='20260408_000007' WHERE alembic_version.version_num = '20260408_000006';

-- Running upgrade 20260408_000007 -> 20260408_000008

CREATE TABLE action_usage_logs (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    platform_connection_id INTEGER, 
    actor_user_id INTEGER, 
    action_type ENUM('INBOUND_MESSAGE','OUTBOUND_MESSAGE','COMMENT_REPLY','POST_PUBLISH','AI_REPLY_GENERATION','TOKEN_CREDIT','TOKEN_EXPIRATION','ADMIN_ACTION') NOT NULL, 
    platform_type ENUM('FACEBOOK_PAGE','WHATSAPP'), 
    reference_type VARCHAR(100), 
    reference_id VARCHAR(255), 
    quantity INTEGER NOT NULL DEFAULT '1', 
    tokens_consumed INTEGER NOT NULL DEFAULT '0', 
    estimated_cost NUMERIC(12, 4) NOT NULL DEFAULT '0', 
    occurred_at DATETIME NOT NULL, 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_action_usage_logs PRIMARY KEY (id), 
    CONSTRAINT fk_action_usage_logs_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_action_usage_logs_actor_user_id_users FOREIGN KEY(actor_user_id) REFERENCES users (id), 
    CONSTRAINT fk_action_usage_logs_platform_connection_id_platform_connections FOREIGN KEY(platform_connection_id) REFERENCES platform_connections (id)
);

CREATE INDEX ix_action_usage_logs_account_id ON action_usage_logs (account_id);

CREATE INDEX ix_action_usage_logs_action_type ON action_usage_logs (action_type);

CREATE INDEX ix_action_usage_logs_actor_user_id ON action_usage_logs (actor_user_id);

CREATE INDEX ix_action_usage_logs_id ON action_usage_logs (id);

CREATE INDEX ix_action_usage_logs_occurred_at ON action_usage_logs (occurred_at);

CREATE INDEX ix_action_usage_logs_platform_connection_id ON action_usage_logs (platform_connection_id);

CREATE INDEX ix_action_usage_logs_platform_type ON action_usage_logs (platform_type);

CREATE INDEX ix_action_usage_logs_reference_id ON action_usage_logs (reference_id);

CREATE INDEX ix_action_usage_logs_reference_type ON action_usage_logs (reference_type);

CREATE TABLE llm_token_usage (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    platform_connection_id INTEGER, 
    actor_user_id INTEGER, 
    provider VARCHAR(100) NOT NULL, 
    model_name VARCHAR(100) NOT NULL, 
    feature_name VARCHAR(100) NOT NULL, 
    reference_type VARCHAR(100), 
    reference_id VARCHAR(255), 
    prompt_tokens INTEGER NOT NULL DEFAULT '0', 
    completion_tokens INTEGER NOT NULL DEFAULT '0', 
    total_tokens INTEGER NOT NULL DEFAULT '0', 
    estimated_cost NUMERIC(12, 6) NOT NULL DEFAULT '0', 
    request_count INTEGER NOT NULL DEFAULT '1', 
    used_at DATETIME NOT NULL, 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_llm_token_usage PRIMARY KEY (id), 
    CONSTRAINT fk_llm_token_usage_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_llm_token_usage_actor_user_id_users FOREIGN KEY(actor_user_id) REFERENCES users (id), 
    CONSTRAINT fk_llm_token_usage_platform_connection_id_platform_connections FOREIGN KEY(platform_connection_id) REFERENCES platform_connections (id)
);

CREATE INDEX ix_llm_token_usage_account_id ON llm_token_usage (account_id);

CREATE INDEX ix_llm_token_usage_actor_user_id ON llm_token_usage (actor_user_id);

CREATE INDEX ix_llm_token_usage_feature_name ON llm_token_usage (feature_name);

CREATE INDEX ix_llm_token_usage_id ON llm_token_usage (id);

CREATE INDEX ix_llm_token_usage_model_name ON llm_token_usage (model_name);

CREATE INDEX ix_llm_token_usage_platform_connection_id ON llm_token_usage (platform_connection_id);

CREATE INDEX ix_llm_token_usage_provider ON llm_token_usage (provider);

CREATE INDEX ix_llm_token_usage_reference_id ON llm_token_usage (reference_id);

CREATE INDEX ix_llm_token_usage_reference_type ON llm_token_usage (reference_type);

CREATE INDEX ix_llm_token_usage_used_at ON llm_token_usage (used_at);

CREATE TABLE audit_logs (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    actor_user_id INTEGER, 
    action_type ENUM('ADMIN_ACTION','ACCOUNT_CREATED','ACCOUNT_JOINED','ONBOARDING_KEY_CREATED','ONBOARDING_KEY_REVOKED','CONNECTION_CREATED','CONNECTION_UPDATED','CONNECTION_STATUS_UPDATED','CONNECTION_DISCONNECTED','CONNECTION_DELETED','CONVERSATION_ASSIGNED','CONVERSATION_STATUS_UPDATED','MESSAGE_REPLY_SENT','COMMENT_STATUS_UPDATED','COMMENT_REPLY_CREATED','POST_CREATED','POST_UPDATED','POST_APPROVED','POST_REJECTED','POST_SCHEDULED','POST_PUBLISH_NOW','REPORT_VIEWED') NOT NULL, 
    resource_type ENUM('ACCOUNT','PLATFORM_CONNECTION','CONVERSATION','MESSAGE','FACEBOOK_COMMENT','FACEBOOK_COMMENT_REPLY','SOCIAL_POST','REPORT','TEAM') NOT NULL, 
    resource_id VARCHAR(255), 
    description VARCHAR(500) NOT NULL, 
    ip_address VARCHAR(64), 
    user_agent VARCHAR(500), 
    occurred_at DATETIME NOT NULL, 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_audit_logs PRIMARY KEY (id), 
    CONSTRAINT fk_audit_logs_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_audit_logs_actor_user_id_users FOREIGN KEY(actor_user_id) REFERENCES users (id)
);

CREATE INDEX ix_audit_logs_account_id ON audit_logs (account_id);

CREATE INDEX ix_audit_logs_action_type ON audit_logs (action_type);

CREATE INDEX ix_audit_logs_actor_user_id ON audit_logs (actor_user_id);

CREATE INDEX ix_audit_logs_id ON audit_logs (id);

CREATE INDEX ix_audit_logs_occurred_at ON audit_logs (occurred_at);

CREATE INDEX ix_audit_logs_resource_id ON audit_logs (resource_id);

CREATE INDEX ix_audit_logs_resource_type ON audit_logs (resource_type);

UPDATE alembic_version SET version_num='20260408_000008' WHERE alembic_version.version_num = '20260408_000007';

-- Running upgrade 20260408_000008 -> 20260409_000009

CREATE TABLE billing_plans (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    code VARCHAR(64) NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description VARCHAR(500), 
    billing_interval ENUM('MONTHLY','YEARLY') NOT NULL, 
    price_usd NUMERIC(10, 2) NOT NULL DEFAULT '0', 
    monthly_token_credit INTEGER NOT NULL DEFAULT '0', 
    is_active BOOL NOT NULL DEFAULT true, 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_billing_plans PRIMARY KEY (id)
);

CREATE INDEX ix_billing_plans_id ON billing_plans (id);

CREATE UNIQUE INDEX ix_billing_plans_code ON billing_plans (code);

CREATE INDEX ix_billing_plans_billing_interval ON billing_plans (billing_interval);

CREATE INDEX ix_billing_plans_is_active ON billing_plans (is_active);

CREATE TABLE account_subscriptions (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    account_id INTEGER NOT NULL, 
    billing_plan_id INTEGER NOT NULL, 
    status ENUM('TRIALING','ACTIVE','PAST_DUE','CANCELED','EXPIRED') NOT NULL DEFAULT 'TRIALING', 
    starts_at DATETIME NOT NULL, 
    ends_at DATETIME, 
    renews_at DATETIME, 
    canceled_at DATETIME, 
    external_subscription_id VARCHAR(255), 
    metadata_json JSON NOT NULL, 
    created_at DATETIME NOT NULL DEFAULT now(), 
    updated_at DATETIME NOT NULL DEFAULT now(), 
    CONSTRAINT pk_account_subscriptions PRIMARY KEY (id), 
    CONSTRAINT fk_account_subscriptions_account_id_accounts FOREIGN KEY(account_id) REFERENCES accounts (id), 
    CONSTRAINT fk_account_subscriptions_billing_plan_id_billing_plans FOREIGN KEY(billing_plan_id) REFERENCES billing_plans (id)
);

CREATE INDEX ix_account_subscriptions_id ON account_subscriptions (id);

CREATE INDEX ix_account_subscriptions_account_id ON account_subscriptions (account_id);

CREATE INDEX ix_account_subscriptions_billing_plan_id ON account_subscriptions (billing_plan_id);

CREATE INDEX ix_account_subscriptions_status ON account_subscriptions (status);

CREATE INDEX ix_account_subscriptions_starts_at ON account_subscriptions (starts_at);

CREATE INDEX ix_account_subscriptions_ends_at ON account_subscriptions (ends_at);

CREATE INDEX ix_account_subscriptions_renews_at ON account_subscriptions (renews_at);

CREATE INDEX ix_account_subscriptions_external_subscription_id ON account_subscriptions (external_subscription_id);

ALTER TABLE billing_plans ALTER COLUMN price_usd DROP DEFAULT;

ALTER TABLE billing_plans ALTER COLUMN monthly_token_credit DROP DEFAULT;

ALTER TABLE account_subscriptions ALTER COLUMN status DROP DEFAULT;

UPDATE alembic_version SET version_num='20260409_000009' WHERE alembic_version.version_num = '20260408_000008';

